*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
body{
    background-color: rgb(134, 161, 161);
}
#block{border: 2px solid black;
    border-radius: 5%;
    background-color: green;
    width: 30%;
    height: auto;
    justify-self: center;
    justify-items: center;
}
#price{
    color: red;
}
h1 {
    text-align: center;
}